springdoc:
  swagger-ui.path: /openapi/swagger-ui.html
  api-docs.path: /openapi/v3/api-docs
  packagesToScan: pe.elections.microservices.composite.candidate
  pathsToMatch: /**
  cache.disabled: true

server.forward-headers-strategy: framework

api:
  common:
    version: 1.0.0
    title: Sample API
    description: Description of the API...
    termsOfService: MY TERMS OF SERVICE
    license: License Candidate
    licenseUrl: License Candidate URL

    externalDocDesc: Pagina Wiki
    externalDocUrl: Pagina Wiki URL
    contact:
      name: Name contact
      url: URL contact
      email: sarmientomiguel3@gmail.com

  responseCodes:
    ok.description: OK
    badRequest.description: Bad Request, invalid format of the request. See response message for more information
    notFound.description: Not Found, the specific id does not exist
    unprocessableEntity.description: Unprocessable entity, input parameters caused the processing to fail. See response message form more information

  candidate-composite:
    get-composite-candidate:
      description: Return a composite view of the specified candidate id
      notes: |
        # Normal response
        Returns the candidate information along with related comments and news articles

server.port: 7000
server.error.include-message: always

spring.application.name: candidate-composite

app:
  eureka-username: u
  eureka-password: p
  eureka-server: localhost

eureka:
  client:
    serviceUrl:
      defaultZone: "http://${app.eureka-username}:${app.eureka-password}@${app.eureka-server}:8761/eureka/"
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5


spring.cloud.stream:
  defaultBinder: rabbit
  default.contentType: application/json
  bindings:
    candidates-out-0:
      destination: candidates
      producer:
        required-groups: auditGroup
    comments-out-0:
      destination: comments
      producer:
        required-groups: auditGroup
    newsarticles-out-0:
      destination: newsarticles
      producer:
        required-groups: auditGroup

spring.cloud.stream.kafka.binder:
  brokers: 127.0.0.1
  defaultBrokerPort: 9092

spring.rabbitmq:
  host: 127.0.0.1
  port: 5672
  username: guest
  password: guest

logging:
  level:
    root: INFO
    se.magnus: DEBUG

management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"
---
spring.config.activate.on-profile: docker

server.port: 8080

app:
  eureka-server: eureka

spring.rabbitmq.host: rabbitmq

spring.cloud.stream.kafka.binder.brokers: kafka

---
spring.config.activate.on-profile: streaming_partitioned

spring.cloud.stream.bindings.candidates-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

spring.cloud.stream.bindings.comments-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

spring.cloud.stream.bindings.newsarticles-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

---
spring.config.activate.on-profile: kafka

management.health.rabbit.enabled: false
spring.cloud.stream.defaultBinder: kafka
spring.kafka.bootstrap-servers: kafka:9092
spring.cloud.stream.kafka.binder.replication-factor: 1
