# ========== CONFIGURACIÓN BÁSICA DEL SERVIDOR ==========
server:
  port: 8761

# ========== CONFIGURACIÓN EUREKA SERVER ==========
eureka:
  instance:
    hostname: localhost
  
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  # from: https://github.com/spring-cloud-samples/eureka/blob/master/src/main/resources/application.yml
  
  server:
    waitTimeInMsWhenSyncEmpty: 0
    response-cache-update-interval-ms: 5000

# ========== CONFIGURACIÓN MANAGEMENT ==========
management:
  endpoints:
    web:
      exposure:
        include: "*"

# ========== VARIABLES DE APLICACIÓN ==========
app:
  eureka-username: u
  eureka-password: p
