# ========== CONFIGURACIÓN BÁSICA DE LA APLICACIÓN ==========
spring:
  application:
    name: authserver

server:
  port: 9999
  forward-headers-strategy: framework

# ========== CONFIGURACIÓN EUREKA ==========
eureka:
  client:
    serviceUrl:
      defaultZone: "http://${app.eureka-username}:${app.eureka-password}@${app.eureka-server}:8761/eureka/"
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

# ========== CONFIGURACIÓN MANAGEMENT ==========
management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "*"

# ========== CONFIGURACIÓN LOGGING ==========
logging:
  level:
    root: INFO

# ========== VARIABLES DE APLICACIÓN ==========
app:
  eureka-username: u
  eureka-password: p
  eureka-server: localhost

---
# ========== CONFIGURACIÓN DOCKER ==========
spring:
  config:
    activate:
      on-profile: docker

app:
  eureka-server: eureka
